@font-face {
  font-family: MinionPro;
  src: url('../../fonts/MinionPro-Bold.otf') format('opentype'),
  url('../../fonts/MinionPro-BoldCn.otf') format('opentype'),
  url('../../fonts/MinionPro-BoldCnIt.otf') format('opentype'),
  url('../../fonts/MinionPro-BoldCnIt.otf') format('opentype'),
  url('../../fonts/MinionPro-It.otf') format('opentype'),
  url('../../fonts/MinionPro-Medium.otf') format('opentype'),
  url('../../fonts/MinionPro-MediumIt.otf') format('opentype'),
  url('../../fonts/MinionPro-Regular.otf') format('opentype'),
  url('../../fonts/MinionPro-Semibold.otf') format('opentype'),
  url('../../fonts/MinionPro-SemiboldIt.otf') format('opentype');
}

@font-face {
  font-family: Mojave;
  src: url('../../fonts/Mojave-Bold.ttf') format('truetype'),
  url('../../fonts/Mojave-BoldSlanted.ttf') format('truetype'),
  url('../../fonts/Mojave-Regular.ttf') format('truetype'),
  url('../../fonts/Mojave-Slanted.ttf') format('truetype');
}